openapi: 3.0.3
info:
  title: Microsoft Graph Excel Charts Sessions API
  description: REST API for accessing and manipulating Excel workbooks stored in OneDrive for Business, SharePoint sites, or Group drives through Microsoft Graph.
  version: 1.0.0
  contact:
    name: Microsoft Graph Support
    url: https://developer.microsoft.com/graph/support
  license:
    name: Microsoft API Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 production endpoint
security:
- oauth2:
  - Files.Read
  - Files.ReadWrite
tags:
- name: Sessions
  description: Workbook session management operations.
paths:
  /me/drive/items/{item-id}/workbook/createSession:
    post:
      operationId: createWorkbookSession
      summary: Microsoft Excel Create Workbook Session
      description: Create a new workbook session with optional persistence.
      tags:
      - Sessions
      parameters:
      - name: item-id
        in: path
        required: true
        description: The ID of the workbook file in OneDrive.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                persistChanges:
                  type: boolean
                  description: Whether to persist changes to the workbook.
            examples:
              CreateWorkbookSessionRequestExample:
                summary: Default createWorkbookSession request
                x-microcks-default: true
                value:
                  persistChanges: true
      responses:
        '201':
          description: Session created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookSessionInfo'
              examples:
                CreateWorkbookSession201Example:
                  summary: Default createWorkbookSession 201 response
                  x-microcks-default: true
                  value:
                    id: '{session-id}'
                    persistChanges: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    WorkbookSessionInfo:
      type: object
      description: Session information for a workbook session.
      properties:
        id:
          type: string
          description: The session identifier.
          example: '{session-id}'
        persistChanges:
          type: boolean
          description: Whether changes are persisted.
          example: true
    ErrorResponse:
      type: object
      description: Error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
              example: ItemAlreadyExists
            message:
              type: string
              description: Error message.
              example: A resource with the same name or identifier already exists.
            innerError:
              type: object
              properties:
                request-id:
                  type: string
                date:
                  type: string
                  format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using Microsoft Identity Platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.Read: Read user files
            Files.ReadWrite: Read and write user files
